html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  /* background-color: red; */
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

/* .seats{
  background-color: gray;
} */

.row{
  max-width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}
.cinemaHall{
  background-color: lightgray;
}

.seatButton{
  background-color: greenyellow;
  min-width: 20px;
  min-height: 20px;
}